<!--Google map-->
<div class="col-md-6">
  <app-google-map></app-google-map>
</div>
<!--Header-->
<div class="col-md-6">
  <div class="figure">
      <img src="{{defaultImgUrl}}" alt="image">
      <div class="figType">OPEN</div>
      <div class="figType address-type">Pankaj Badukale address here</div>
  </div>
</div>
<!--Controls bar-->
<div class="col-md-12">
  <div class="clearfix control-buttons"> 
    <div class="btn-group inline"> 
      <div class="btn btn-default">Overview</div> 
      <div class="btn btn-default">Menu</div>
      <div class="btn btn-default">Photos</div>
      <div class="btn btn-default">Reviews</div>
      <div class="btn btn-default">Gmap</div> 
    </div>
  </div>
</div>
<!--Content-->
<div class="col-md-12">
      <a [routerLink]="['./overview']">overview</a>
      <a [routerLink]="['./feedback']">feeback</a>
      <a [routerLink]="['./review']">review</a>
      <a [routerLink]="['./menu']">menu</a>
      <a [routerLink]="['./photo']">photo</a>
      <a [routerLink]="['./faq']">Faw</a>
      <router-outlet></router-outlet>
</div>