
    <!--List of restaurents-->
    <div class="right-list-section">
        <div [ngClass]="{'col-md-6': _dataBus.pageView == 'both', 'col-md-4': _dataBus.pageView == 'list'}" *ngFor="let item of _dataBus.paginationResultCurrent">
            <a class="card" [routerLink]="['/']">
                <div class="figure">
                    <img src="{{defaultImgUrl}}" alt="image">
                    <!--<div class="figCaption">
                        <div>$1,550,000</div>
                        <span class="icon-eye"> 200</span>
                        <span class="icon-heart"> 54</span>
                        <span class="icon-bubble"> 13</span>
                    </div>-->
                    <!--<div class="figView"><span class="icon-eye"></span></div>-->
                    <div class="figType">OPEN</div>
                </div>
                <h2>{{item.rest_header_title}}</h2>
                <div class="cardAddress fa fa-location-arrow rest_addr"><span class="icon-pointer"></span> {{item.rest_address}}</div>
                <div class="cardAddress fa fa-bell-o knt_for"><span class="icon-pointer"></span> {{item.rest_known_for}}</div>
                <div class="cardAddress cusines"><span class="icon-pointer"></span>
                    <i class="fa fa-certificate" *ngFor="let cusine of getCusines(item.cusine)"> {{cusine}}</i>
                    <i class="fa fa-arrows-h dist_from_you">
                        <span class="icon-pointer"></span> {{ item.distance | number }} Meter From You
                    </i>
                </div>
                <!--<div class="cardRating">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star-o"></span>
                    (146)
                </div>-->
                <!--<ul class="cardFeat">
                    <li><span class="fa fa-moon-o"></span> 3</li>
                    <li><span class="icon-drop"></span> 2</li>
                    <li><span class="icon-frame"></span> 3430 Sq Ft</li>
                </ul>-->
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="pagination">
                        <li class="disabled"><a href="#"><span class="fa fa-angle-left"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
                    </ul>
        </div>