<div class="col-md-4">
  <app-search-hotel></app-search-hotel>

  <!--List of restaurents-->
  <div class="row">

  <div class="col-md-12">
    <div class="post-container">
      <div style="background: url(img/img12.jpg);" class="post-img">
        <h3>Open</h3>
      </div>
      <div class="post-content">
        <div class="post-meta">
          <span><i class="fa fa-home"></i> 7,000 m<sup>2</sup> / </span>
          <span><i class="fa fa-hdd-o"></i> 3 Bed / </span>
          <span><i class="fa fa-male"></i> 2 Bath / </span>
          <span><i class="fa fa-building-o"></i> 2 Floors / </span>
          <span><i class="fa fa-car"></i> 2 Garages / </span>
        </div>
        <div class="heading-title">
          <h2><a href="#">Residential - <span>$300,000</span>/year</a></h2>
        </div>
      </div>
    </div>
    <!-- break -->

    <div class="post-container">
      <div style="background: url(img/img13.jpg);" class="post-img">
        <h3>Open</h3>
      </div>
      <div class="post-content">
        <div class="post-meta">
          <span><i class="fa fa-home"></i> 6,700 m<sup>2</sup> / </span>
          <span><i class="fa fa-hdd-o"></i> 4 Bed / </span>
          <span><i class="fa fa-male"></i> 2 Bath / </span>
          <span><i class="fa fa-building-o"></i> 1 Floors / </span>
          <span><i class="fa fa-car"></i> 2 Garages / </span>
        </div>
        <div class="heading-title">
          <h2><a href="#">Commercial - <span>$700,000</span>/year</a></h2>
        </div>
      </div>
    </div>
    <!-- break -->

    <div class="post-container post-noborder">
      <div style="background: url(img/img14.jpg);" class="post-img">
        <h3>For Sale</h3>
      </div>
      <div class="post-content">
        <div class="post-meta">
          <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup> / </span>
          <span><i class="fa fa-hdd-o"></i> 3 Bed / </span>
          <span><i class="fa fa-male"></i> 2 Bath / </span>
          <span><i class="fa fa-building-o"></i> 1 Floors / </span>
          <span><i class="fa fa-car"></i> 1 Garages / </span>
        </div>
        <div class="heading-title">
          <h2><a href="#">Villa - <span>$800,000</span></a></h2>
        </div>
      </div>
    </div>
    <!-- break -->

  </div>


  <!--Pagination-->
<div class="col-md-12">
  <ul class="pagination">
    <li class="disabled"><a href="#">«</a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>

  </div>


</div>


<!--It will animation and will come over the map section-->
<app-filter-hotel></app-filter-hotel>