/////////////////////////////////////////////////////////////////////////////////////////
/*
	========================================
	TABLE OF CONTENT http://templateninja.net/themes/arillo/v1.1/green/index.html
	========================================
	
	[1. GLOBAL STYLE]
	[2. NAVBAR]
	[3. HEADER]
	[4. SERVICE]
	[5. CONTENT]
	[5.1 ARTICLE]
	[5.2 TEAM]
	[5.3 SIDEBAR]
	[6. TESTIMONY]
	[7. NEWS]
	[8. SUBSCRIBE]
	[9. PARTNER]
	[10. FOOTER]
	[11. COPYRIGHT]

*/


/* 
	==================
	[1. GLOBAL STYLE]
	==================
*/
/* 
	==================
	[2. NAVBAR]
	==================
*/
/* 
	==================
	[3. HEADER]
	==================
*/
/* 
	==================
	[4. SERVICE]
	==================
*/
/* 
	==================
	[5. CONTENT]
	==================
*/
/* 
	==================
	[5.1 ARTICLE]
	==================
*/
/* pagination */
/* 
	==================
	[5.2 TEAM]
	==================
*/
/* 
	==================
	[5.3 SIDEBAR]
	==================
*/
/* default widget */
/* special widget */
/* 
	==================
	[6. TESTIMONY]
	==================
*/
/* 
	==================
	[7. NEWS]
	==================
*/
/* carousel single */
/* 
	==================
	[8. SUBSCRIBE]
	==================
*/
/* 
	==================
	[9. PARTNER]
	==================
*/
/* Carousel */
/* Carousel Controls */
/* Carousel Pagination */
/* 
	==================
	[10. FOOTER]
	==================
*/
/* 
	==================
	[11. COPYRIGHT]
	==================
*/
body {
	margin: 0;
	padding: 0;
	padding-top: 70px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #6b6e80;
	background: #fff;
	overflow-x: hidden;
	scrollbar-face-color: #333;
}
&::-moz-selection {
	color: #fff;
	text-shadow: none;
	background: #3498db;
}
&::-webkit-selection {
	color: #fff;
	text-shadow: none;
	background: #3498db;
}
&::selection {
	color: #fff;
	text-shadow: none;
	background: #3498db;
}
&::-webkit-scrollbar {
	width: 10px;
}
&::-webkit-scrollbar-track {
	background-color: #333;
}
&::-webkit-scrollbar-thumb {
	background-color: #666;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
&::-webkit-scrollbar-button {
	display: none;
}
&::-webkit-scrollbar-corner {
	background-color: #000000;
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}
h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}
h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}
h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}
h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}
a {
	color: #48cfad;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	&:hover {
		color: #37bc9b;
		text-decoration: none;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
}
select {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
textarea {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="text"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="password"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="datetime"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="datetime-local"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="date"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="month"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="time"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="week"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="number"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="email"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="url"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="search"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="tel"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input[type="color"] {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
.uneditable-input {
	color: #333;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
.btn {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.form-control {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	&:focus {
		color: #48cfad;
		border-color: #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
.clear-marg {
	margin: 0 !important;
}
.btn-success {
	background-color: #48cfad;
	border-color: #37bc9b;
	&:hover {
		background-color: #37bc9b;
		border-color: #37bc9b;
	}
	&:focus {
		background-color: #37bc9b;
		border-color: #37bc9b;
	}
	&:active {
		background-color: #37bc9b;
		border-color: #37bc9b;
	}
}
.btn-success.active {
	background-color: #37bc9b;
	border-color: #37bc9b;
}
.btn-success.dropdown-toggle {
	background-color: #37bc9b;
	border-color: #37bc9b;
}
.btn-warning {
	background-color: #ffce54;
	border-color: #f6bb42;
	&:hover {
		background-color: #f6bb42;
		border-color: #f6bb42;
	}
	&:focus {
		background-color: #f6bb42;
		border-color: #f6bb42;
	}
	&:active {
		background-color: #f6bb42;
		border-color: #f6bb42;
	}
}
.btn-warning.active {
	background-color: #f6bb42;
	border-color: #f6bb42;
}
.btn-warning.dropdown-toggle {
	background-color: #f6bb42;
	border-color: #f6bb42;
}
.navbar-default {
	background-color: #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-color: #fff;
	.navbar-brand {
		img {
			height: 60px;
			width: auto;
			display: block;
		}
		position: relative;
		color: #48cfad;
		font-size: 26px;
		display: block;
		padding: 10px 40px 10px 15px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&::after {
			content: "";
			position: absolute;
			right: -20px;
			top: -8px;
			width: 1px;
			height: 95px;
			background: #37bc9b;
			-webkit-transform: rotate(30deg);
			-moz-transform: rotate(30deg);
			-ms-transform: rotate(30deg);
			-o-transform: rotate(30deg);
			transform: rotate(30deg);
		}
		span {
			display: block;
			padding-top: 20px;
			padding-bottom: 20px;
			font-weight: 400;
			strong {
				font-weight: 600;
			}
		}
		&:hover {
			color: #37bc9b;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			>span {
				color: #37bc9b;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
		}
	}
	.navbar-nav {
		>li {
			>a {
				color: #656d78;
				font-size: 16px;
				text-shadow: none;
				padding-top: 30px;
				padding-right: 20px;
				padding-bottom: 30px;
				padding-left: 20px;
				&:hover {
					color: #48cfad;
					background-color: transparent;
				}
				&:focus {
					color: #48cfad;
					background-color: transparent;
				}
			}
		}
		>.active {
			>a {
				position: relative;
				color: #37bc9b;
				background-color: transparent;
				&:hover {
					position: relative;
					color: #37bc9b;
					background-color: transparent;
				}
				&::after {
					content: "";
					position: absolute;
					left: 50%;
					bottom: 15px;
					height: 8px;
					width: 8px;
					margin-left: -4px;
					background: #37bc9b;
					-webkit-border-radius: 100%;
					-moz-border-radius: 100%;
					-ms-border-radius: 100%;
					-o-border-radius: 100%;
					border-radius: 100%;
				}
			}
		}
	}
}
.navbar-default.navbar-static-top {
	margin-bottom: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.navbar.navbar-default {
	.navbar-nav {
		li.dropdown.open {
			>a {
				color: #fff;
				background-color: #48cfad;
				&:hover {
					color: #fff;
					background-color: #48cfad;
				}
			}
		}
	}
}
.dropdown-menu {
	background-color: #48cfad;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	>li {
		>a {
			color: #efefef;
			padding-top: 12px;
			padding-bottom: 12px;
			&:hover {
				color: #fff;
				background-color: #37bc9b;
			}
			&:focus {
				color: #fff;
				background-color: #37bc9b;
			}
		}
	}
	>.active {
		>a {
			color: #fff;
			background-color: #37bc9b;
			&:hover {
				color: #fff;
				background-color: #37bc9b;
			}
			&:focus {
				color: #fff;
				background-color: #37bc9b;
			}
		}
	}
}
.signin {
	padding: 12px 18px !important;
	margin-top: 18px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	&:focus {
		outline: none;
		color: #656d78 !important;
	}
	&:active {
		outline: none;
		color: #656d78 !important;
	}
}
.signup {
	padding: 12px 18px !important;
	margin-top: 18px;
	margin-left: 15px;
	background-color: #48cfad !important;
	color: #fff !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	&:hover {
		background-color: #37bc9b !important;
		outline: none;
	}
	&:focus {
		background-color: #37bc9b !important;
		outline: none;
	}
	&:active {
		background-color: #37bc9b !important;
		outline: none;
	}
}
#modal-signin {
	.modal-header {
		h4 {
			text-align: center;
			color: #48cfad;
		}
	}
	.modal-footer {
		margin-top: 0;
		background-color: #f4f4f4;
		text-align: left !important;
		p {
			margin-bottom: 15px;
		}
	}
}
#modal-signup {
	.modal-header {
		h4 {
			text-align: center;
			color: #48cfad;
		}
	}
	.modal-footer {
		margin-top: 0;
		background-color: #f4f4f4;
		text-align: left !important;
		p {
			margin-bottom: 15px;
		}
	}
}
#header {
	width: 100%;
	min-height: 450px;
	height: auto;
	padding-top: 70px;
	padding-bottom: 60px;
}
.quick-search {
	padding: 25px 40px;
	background: rgba(255,255,255,.7);
}
#header.heading {
	position: relative;
	min-height: 200px;
	padding-top: 40px;
	padding-bottom: 40px;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	>* {
		position: relative;
		z-index: 2;
	}
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.75);
	}
	.page-title {
		position: relative;
		z-index: 2;
		display: block;
		margin-bottom: 40px;
		text-align: center;
		color: #ddd;
		font-size: 14px;
		line-height: 24px;
		h2 {
			margin-bottom: 15px;
			font-size: 36px;
			line-height: 40px;
			color: #fff;
			text-align: center;
			font-weight: 800;
			span {
				font-weight: 400;
			}
		}
	}
	.breadcrumb {
		position: relative;
		z-index: 2;
		display: table;
		margin-left: auto;
		margin-right: auto;
		background-color: transparent;
		>.active {
			color: #dedede;
		}
	}
	.quick-search {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
#service {
	width: 100%;
	padding: 40px 0;
	h2 {
		display: block;
		margin-bottom: 60px;
		font-size: 28px;
		line-height: 32px;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		small {
			display: block;
			margin-top: 10px;
			text-align: center;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 400;
		}
	}
}
.service-container {
	display: block;
	margin-bottom: 20px;
	&:hover {
		>.service-icon {
			a {
				-webkit-box-shadow: 0 0 0 5px #48cfad;
				-moz-box-shadow: 0 0 0 5px #48cfad;
				-ms-box-shadow: 0 0 0 5px #48cfad;
				-o-box-shadow: 0 0 0 5px #48cfad;
				box-shadow: 0 0 0 5px #48cfad;
			}
		}
	}
}
.service-icon {
	display: block;
	margin-bottom: 20px;
	a {
		position: relative;
		display: block;
		width: 100px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		background: #48cfad;
		border: 8px solid #fff;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
		border-radius: 100%;
		>i {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 45px;
			height: 45px;
			margin-left: -22px;
			margin-top: -22px;
			font-size: 45px;
			color: #fff;
			text-align: center;
			vertical-align: middle;
		}
	}
}
.service-content {
	text-align: center;
	h3 {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 15px;
		font-weight: 600;
		text-transform: uppercase;
	}
}
#content {
	position: relative;
	width: 100%;
	padding: 60px 0;
	background: #f4f4f4;
	.post-meta {
		font-size: 13px;
		line-height: 16px;
		color: #888;
		display: block;
		padding-top: 20px;
		padding-bottom: 15px;
	}
}
.heading-title {
	display: block;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
	h2 {
		position: relative;
		display: inline;
		padding: 12px 20px;
		font-size: 28px;
		line-height: 32px;
		text-transform: uppercase;
		font-weight: 600;
		border: 2px solid #898ba2;
		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: 0;
			display: block;
			width: 30px;
			height: 30px;
			margin-top: -16px;
			margin-left: -15px;
			background: #f4f4f4;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			-ms-border-radius: 100%;
			-o-border-radius: 100%;
			border-radius: 100%;
		}
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			top: 0;
			display: block;
			width: 12px;
			height: 12px;
			margin-top: -7px;
			margin-left: -6px;
			background: #898ba2;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			-ms-border-radius: 100%;
			-o-border-radius: 100%;
			border-radius: 100%;
		}
	}
}
.heading-title.heading-title-sm {
	h2 {
		padding: 10px 14px;
		font-size: 18px;
		line-height: 24px;
	}
}
.heading-title.bg-white {
	h2 {
		&::before {
			background: #fff;
		}
	}
}
.heading-title.heading-title-alt {
	text-align: left;
	margin: 0 0 30px;
	h3 {
		font-size: 26px;
		line-height: 30px;
	}
}
.property-container {
	margin-bottom: 30px;
	background: #fff;
	border: 1px solid #eee;
}
.property-image {
	position: relative;
	overflow: hidden;
	img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
}
.property-status {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	width: auto;
	max-width: 70%;
	padding: 5px 10px;
	background: #1b1d2a;
	font-weight: 400;
	color: #fff;
}
.property-price {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: auto;
	max-width: 80%;
	padding: 8px 16px;
	background: #48cfad;
	color: #fff;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	h4 {
		font-size: 14px;
		line-height: 20px;
		margin: 0 0 5px;
		font-weight: 400;
	}
	small {
		font-size: 13px;
		font-weight: 400;
	}
}
.property-features {
	display: block;
	padding: 5px 10px;
	background: #48cfad;
	color: #fff;
	span {
		padding: 2px 5px;
		font-size: 13px;
	}
}
.property-content {
	padding: 10px 15px;
	h3 {
		display: block;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 24px;
		font-weight: 600;
		small {
			display: block;
			margin-top: 10px;
			font-size: 13px;
			font-style: italic;
		}
	}
}
.property-text {
	h3 {
		display: block;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 24px;
		font-weight: 600;
		small {
			display: block;
			margin-top: 10px;
			font-size: 13px;
			font-style: italic;
		}
	}
	position: relative;
	width: 50%;
	display: table-cell;
	padding: 15px;
	vertical-align: top;
}
.property-content-list {
	display: table;
}
.property-image-list {
	position: relative;
	width: 50%;
	display: table-cell;
	vertical-align: top;
	img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
	.property-status {
		position: absolute;
		right: 0;
		bottom: 35px;
	}
	.property-footer {
		a {
			background: #d9dae9;
			color: #898ba2;
			&:hover {
				background: #898ba2;
				color: #d9dae9;
			}
		}
	}
}
.property-footer {
	position: relative;
	display: table;
	width: 100%;
	padding: 0;
	a {
		display: table-cell;
		width: 50%;
		padding: 8px 12px;
		text-align: center;
		background: #37bc9b;
		font-size: 18px;
		color: rgba(0,0,0,.25);
		overflow: hidden;
		&:hover {
			color: #eee;
			background: #c9573f;
			overflow: hidden;
			outline: none;
		}
		&:focus {
			color: #eee;
			background: #c9573f;
			overflow: hidden;
			outline: none;
		}
	}
}
.sort {
	padding-bottom: 40px;
	.form-inline {
		float: right;
	}
}
.pagination {
	>li {
		>a {
			color: #48cfad;
			background-color: #fff;
			border: 1px solid #ddd;
		}
		>span {
			color: #48cfad;
			background-color: #fff;
			border: 1px solid #ddd;
		}
	}
	>.active {
		>a {
			z-index: 2;
			color: #fff;
			cursor: default;
			background-color: #48cfad;
			border-color: #48cfad;
			&:hover {
				z-index: 2;
				color: #fff;
				cursor: default;
				background-color: #48cfad;
				border-color: #48cfad;
			}
			&:focus {
				z-index: 2;
				color: #fff;
				cursor: default;
				background-color: #48cfad;
				border-color: #48cfad;
			}
		}
		>span {
			z-index: 2;
			color: #fff;
			cursor: default;
			background-color: #48cfad;
			border-color: #48cfad;
			&:hover {
				z-index: 2;
				color: #fff;
				cursor: default;
				background-color: #48cfad;
				border-color: #48cfad;
			}
			&:focus {
				z-index: 2;
				color: #fff;
				cursor: default;
				background-color: #48cfad;
				border-color: #48cfad;
			}
		}
	}
}
.blog-container {
	position: relative;
	width: auto;
	padding: 0;
	margin: 0 0 40px;
}
.blog-image {
	position: relative;
	width: 100%;
	height: 320px;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	.blog-author {
		position: absolute;
		left: 20px;
		top: 20px;
		color: #fff;
		text-shadow: 1px 1px #999;
		img {
			width: 60px;
			height: 60px;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			-ms-border-radius: 100%;
			-o-border-radius: 100%;
			border-radius: 100%;
			margin-right: 10px;
		}
		a {
			color: #fff;
			text-shadow: 1px 1px #999;
			&:hover {
				border-bottom: 1px dashed #fff;
			}
		}
	}
}
.blog-content {
	position: relative;
	padding: 30px 0;
}
.blog-title {
	display: block;
	padding-left: 15%;
	padding-right: 15%;
	margin-bottom: 40px;
	h2 {
		font-size: 46px;
		line-height: 52px;
		font-weight: 800;
	}
}
.blog-text {
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 18px;
	line-height: 32px;
}
.blog-meta {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 13px;
}
.blog-paged {
	&::before {
		content: "";
		display: table;
		clear: both;
	}
	&::after {
		content: "";
		display: table;
		clear: both;
	}
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15%;
	padding-right: 15%;
	>.pager {
		li {
			>a {
				&:hover {
					background-color: #48cfad;
					color: #fff;
					border-color: #37bc9b;
				}
				&:focus {
					background-color: #48cfad;
					color: #fff;
					border-color: #37bc9b;
				}
			}
		}
		.disabled {
			>a {
				color: #999;
				cursor: not-allowed;
				background-color: #fff;
				border-color: #ddd;
				&:hover {
					color: #999;
					cursor: not-allowed;
					background-color: #fff;
					border-color: #ddd;
				}
				&:focus {
					color: #999;
					cursor: not-allowed;
					background-color: #fff;
					border-color: #ddd;
				}
			}
			>span {
				color: #999;
				cursor: not-allowed;
				background-color: #fff;
				border-color: #ddd;
			}
		}
	}
}
.blog-comment {
	&::before {
		content: "";
		display: table;
		clear: both;
	}
	&::after {
		content: "";
		display: table;
		clear: both;
	}
	padding-left: 15%;
	padding-right: 15%;
	ul {
		list-style-type: none;
		padding: 0;
	}
	img {
		opacity: 1;
		filter: Alpha(opacity=100);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
	}
	img.avatar {
		position: relative;
		float: left;
		margin-left: 0;
		margin-top: 0;
		width: 65px;
		height: 65px;
	}
	.post-comments {
		border: 1px solid #eee;
		margin-bottom: 20px;
		margin-left: 85px;
		margin-right: 0px;
		padding: 10px 20px;
		position: relative;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
		background: #fff;
		color: #6b6e80;
		position: relative;
	}
	.meta {
		font-size: 13px;
		color: #aaaaaa;
		padding-bottom: 8px;
		margin-bottom: 10px !important;
		border-bottom: 1px solid #eee;
	}
	ul.comments {
		ul {
			list-style-type: none;
			padding: 0;
			margin-left: 85px;
		}
	}
	h3 {
		margin-bottom: 40px;
		font-size: 26px;
		line-height: 30px;
		font-weight: 800;
	}
}
.blog-comment-form {
	&::before {
		content: "";
		display: table;
		clear: both;
	}
	&::after {
		content: "";
		display: table;
		clear: both;
	}
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
	h3 {
		margin-bottom: 40px;
		font-size: 26px;
		line-height: 30px;
		font-weight: 800;
	}
}
.contact {
	font-size: 14px;
	line-height: 26px;
}
#map {
	background-color: #1b1d2a;
	width: 100%;
	height: 350px;
	img {
		max-width: none;
	}
}
#map-property {
	background-color: #1b1d2a;
	width: 100%;
	height: 350px;
	margin-bottom: 40px;
	img {
		max-width: none;
	}
}
.the-team {
	&::before {
		content: "";
		display: table;
		clear: both;
	}
	&::after {
		content: "";
		display: table;
		clear: both;
	}
	padding-left: 15%;
	padding-right: 15%;
}
.team-image {
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
		overflow: hidden;
	}
}
.team-container {
	margin-bottom: 30px;
	background: #fff;
	border: 1px solid #eee;
}
.team-container.team-dark {
	background: #48cfad;
	border-color: none;
	color: #fff;
	h3 {
		small {
			color: rgba(0,0,0,.3);
		}
	}
	.team-social {
		a {
			color: rgba(0,0,0,.3);
			&:hover {
				color: #eee;
			}
			&:focus {
				color: #eee;
			}
		}
	}
}
.team-description {
	padding: 15px;
	h3 {
		margin-top: 5px;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 24px;
		font-weight: 800;
		small {
			display: block;
			font-size: 14px;
			line-height: 20px;
			font-weight: 600;
		}
	}
}
.team-social {
	padding: 20px 0 5px;
	font-size: 20px;
	text-align: center;
	span {
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
		padding: 5px 10px;
		display: inline-block;
	}
	a {
		color: #6b6e80;
		&:hover {
			color: #37bc9b;
		}
		&:focus {
			color: #37bc9b;
		}
	}
}
.sidebar {
	margin-bottom: 20px;
	.widget {
		&:before {
			content: "";
			display: table;
			clear: both;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		margin-bottom: 20px;
		.widget-header {
			margin-bottom: 20px;
			h3 {
				font-family: 'Raleway', sans-serif;
				color: #7f8c8d;
				font-size: 16px;
				font-weight: 700;
				text-align: center;
				text-transform: uppercase;
				background-image: url(../img/widget_header.png);
				background-repeat: repeat-x;
				background-position: bottom center;
				margin-top: 20px;
				padding-bottom: 30px;
			}
		}
		ul {
			list-style-type: none;
			>li {
				display: block;
				padding: 3px 0;
				margin-left: -40px;
				&:first-child {
					>a {
						padding-top: 0;
					}
				}
				>a {
					&:before {
						font-family: 'FontAwesome';
						content: "\f105";
						padding-right: 10px;
					}
					display: inline;
					font-size: 14px;
				}
			}
		}
	}
	.widget-sidebar {
		&:before {
			content: "";
			display: table;
			clear: both;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		margin-bottom: 20px;
		.list-check {
			>li {
				>a {
					&:before {
						content: '\f00c';
						font-family: 'FontAwesome';
						font-size: 12px;
						color: #898ba2;
						padding-right: 8px;
						position: relative;
						left: 0;
						top: -1px;
					}
					&:hover {
						&:before {
							color: #48cfad;
						}
					}
				}
			}
		}
		.nav-tabs {
			border-bottom: 3px solid #ddd;
			>li {
				>a {
					font-size: 18px;
					border: none;
					position: relative;
					&:hover {
						color: #2C3E50;
						border-color: transparent;
						background: transparent;
						&:before {
							content: "";
							position: absolute;
							left: 0;
							bottom: -2px;
							width: 100%;
							height: 3px;
							background: #ccc;
						}
					}
				}
			}
			>li.active {
				>a {
					color: #2C3E50;
					cursor: default;
					background-color: transparent;
					border: none;
					border-bottom-color: transparent;
					&:hover {
						color: #2C3E50;
						cursor: default;
						background-color: transparent;
						border: none;
						border-bottom-color: transparent;
						&:before {
							content: "";
							position: absolute;
							left: 0;
							bottom: -2px;
							width: 100%;
							height: 3px;
							background: #37bc9b;
						}
					}
					&:focus {
						color: #2C3E50;
						cursor: default;
						background-color: transparent;
						border: none;
						border-bottom-color: transparent;
						&:before {
							content: "";
							position: absolute;
							left: 0;
							bottom: -2px;
							width: 100%;
							height: 3px;
							background: #37bc9b;
						}
					}
					&:before {
						content: "";
						position: absolute;
						left: 0;
						bottom: -2px;
						width: 100%;
						height: 3px;
						background: #37bc9b;
					}
				}
			}
		}
		.tab-content {
			padding-top: 20px;
		}
	}
	.widget-white {
		position: relative;
		padding: 15px;
		background: #fff;
		margin-bottom: 30px !important;
		border-bottom: 2px solid #ddd;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			border-width: 25px;
			border-top: 25px solid #48cfad;
			border-right: 25px solid transparent;
			border-bottom: 25px solid transparent;
			border-left: 0 solid transparent;
		}
	}
	.widget-white.favorite {
		&::before {
			content: '';
			border: none;
		}
	}
}
.advance-search {
	&::before {
		content: '';
		display: table;
		clear: both;
	}
	&::after {
		content: '';
		display: table;
		clear: both;
	}
	.btn-group {
		display: table;
		text-align: center;
		margin: 10px auto;
	}
}
#testimony {
	position: relative;
	width: 100%;
	min-height: 450px;
	height: auto;
	padding-top: 120px;
	padding-bottom: 60px;
	background-attachment: fixed;
	background-position: center 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.65);
	}
}
#testislider {
	position: relative;
	z-index: 2;
	.carousel-inner {
		.item {
			z-index: 1;
			left: 0 !important;
			-webkit-transition: opacity .7s ease-in-out;
			-moz-transition: opacity .7s ease-in-out;
			-ms-transition: opacity .7s ease-in-out;
			-o-transition: opacity .7s ease-in-out;
			transition: opacity .7s ease-in-out;
			opacity: 1;
		}
	}
	.carousel-control.left {
		background-image: none;
		opacity: 0.7;
		filter: alpha(opacity=70);
		background: transparent;
		height: 60px;
		width: 50px;
		margin-top: 15%;
		margin-left: 0;
		margin-right: 0;
		left: -70px;
		right: auto;
	}
	.carousel-control.right {
		background-image: none;
		opacity: 0.7;
		filter: alpha(opacity=70);
		background: transparent;
		height: 60px;
		width: 50px;
		margin-top: 15%;
		margin-left: 0;
		margin-right: 0;
		right: -70px;
		left: auto;
	}
	.carousel-control {
		i {
			position: absolute;
			top: auto;
			bottom: 0;
			left: 0;
			z-index: 5;
			display: inline-block;
			width: 50px;
			height: 50px;
			margin-left: 0;
		}
		span {
			position: absolute;
			top: auto;
			bottom: 0;
			left: 0;
			z-index: 5;
			display: inline-block;
			width: 50px;
			height: 50px;
			margin-left: 0;
		}
	}
}
#testislider.carousel {
	.active.left {
		z-index: 2;
		opacity: 0;
		-webkit-transition: opacity .7s ease-in-out;
		-moz-transition: opacity .7s ease-in-out;
		-ms-transition: opacity .7s ease-in-out;
		-o-transition: opacity .7s ease-in-out;
		transition: opacity .7s ease-in-out;
	}
	.active.right {
		z-index: 2;
		opacity: 0;
		-webkit-transition: opacity .7s ease-in-out;
		-moz-transition: opacity .7s ease-in-out;
		-ms-transition: opacity .7s ease-in-out;
		-o-transition: opacity .7s ease-in-out;
		transition: opacity .7s ease-in-out;
	}
}
.testimony-container {
	padding: 0;
	margin: 0;
	height: auto;
}
.testimony-image {
	float: left;
	width: 100px;
	height: 100px;
	border: 4px solid #fff;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.testimony-content {
	margin-left: 150px;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	h3 {
		font-size: 28px;
		line-height: 32px;
		color: #fff;
	}
	blockquote {
		position: relative;
		border-left: none;
		padding-left: 0;
		text-indent: 2em;
		&::before {
			content: '\f10d';
			font-family: 'FontAwesome';
			position: absolute;
			left: -2em;
			top: 0;
			display: block;
			width: 20px;
			height: 20px;
		}
	}
}
#news {
	width: 100%;
	padding: 60px 0;
	background: #fff;
}
.post-container {
	position: relative;
	display: block;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.post-noborder {
	border-bottom: none;
}
.post-img {
	position: relative;
	float: left;
	display: inline;
	width: 75px;
	height: 75px;
	margin-right: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	h3 {
		position: absolute;
		left: 0;
		bottom: -10px;
		width: 100%;
		background: #48cfad;
		padding: 5px 10px;
		font-size: 12px;
		color: #fff;
		font-weight: 400;
		text-align: center;
	}
}
.post-img-circle {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}
.post-content {
	padding: 0;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 21px;
	>.post-meta {
		display: block;
		padding-top: 0 !important;
		padding-bottom: 5px;
		font-size: 12px;
	}
	>.heading-title {
		h2 {
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;
			font-family: 'Raleway', sans-serif;
			font-size: 14px;
			line-height: 18px;
			font-weight: 600;
			text-transform: none;
			border: none;
			span {
				font-weight: 800;
				font-size: 16px;
			}
			&::before {
				content: '';
				position: relative;
				left: 0;
				top: 0;
				display: block;
				width: 0;
				height: 0;
				margin-top: 0;
				margin-left: -15px;
				background: #f4f4f4;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-ms-border-radius: 0;
				-o-border-radius: 0;
				border-radius: 0;
			}
			&::after {
				content: '';
				position: relative;
				left: 0;
				top: 0;
				display: block;
				width: 0;
				height: 0;
				margin-top: 0;
				margin-left: 0;
				background: transparent;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-ms-border-radius: 0;
				-o-border-radius: 0;
				border-radius: 0;
			}
		}
		display: block;
		text-align: left;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}
.post-content.list-agent {
	>.post-meta {
		font-size: 14px;
		font-weight: 400;
	}
	>.heading-title {
		h2 {
			font-size: 16px;
			line-height: 20px;
		}
	}
}
.post-single {
	.post-meta {
		span {
			font-size: 13px;
			line-height: 16px;
			color: #888;
		}
		display: block;
		padding-top: 20px;
		padding-bottom: 15px;
	}
}
.single-post {
	margin-bottom: 20px;
	h2 {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 32px;
		line-height: 40px;
		font-weight: 600;
	}
	h3 {
		font-size: 22px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	.nav-tabs {
		>li {
			>a {
				padding-top: 16px;
				padding-bottom: 16px;
				font-size: 18px;
				font-weight: 600;
			}
		}
	}
	.tab-content {
		background-color: #fff;
		padding: 30px;
		border: 1px solid #ddd;
		border-top: none;
	}
}
.favorite {
	a {
		position: relative;
		display: block;
		vertical-align: middle;
		&::before {
			content: '';
			position: absolute;
			left: 34px;
			top: 0;
			width: 1px;
			height: 100%;
			background: #48cfad;
		}
		>i {
			font-size: 20px;
			padding-right: 25px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}
#slider-property {
	margin-bottom: 40px;
	.carousel-inner {
		.item {
			img {
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
	}
	.carousel-indicators {
		li {
			position: relative;
			width: 100px;
			height: 65px;
			margin: 0;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			-ms-border-radius: 2px;
			-o-border-radius: 2px;
			border-radius: 2px;
			border-width: 2px;
			border-color: #fff;
			text-indent: 0;
			overflow: hidden;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;
			&::after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(255,255,255,.6);
				-webkit-transition: background .1s ease-in-out;
				-moz-transition: background .1s ease-in-out;
				-ms-transition: background .1s ease-in-out;
				-o-transition: background .1s ease-in-out;
				transition: background .1s ease-in-out;
			}
			img {
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
		.active {
			&::after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(255,255,255,.1);
				-webkit-transition: background .1s ease-in-out;
				-moz-transition: background .1s ease-in-out;
				-ms-transition: background .1s ease-in-out;
				-o-transition: background .1s ease-in-out;
				transition: background .1s ease-in-out;
			}
			border-color: #48cfad;
			border-width: 2px;
		}
	}
}
#subscribe {
	width: 100%;
	padding: 60px 0 55px;
	background-color: #f4f4f4;
	background-image: url(../img/bgfooter.png);
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-position: center bottom;
	background-repeat: no-repeat;
	h3 {
		margin-top: 5px;
		font-size: 32px;
		line-height: 38px;
		text-transform: uppercase;
	}
}
#partner {
	width: 100%;
	padding: 60px 0 55px;
	background: #fff;
}
.jcarousel-wrapper {
	position: relative;
	margin: 20px auto;
	border: 10px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 2px #999;
	-moz-box-shadow: 0 0 2px #999;
	-ms-box-shadow: 0 0 2px #999;
	-o-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.jcarousel {
	position: relative;
	width: 100%;
	overflow: hidden;
	ul {
		position: relative;
		width: 20000em;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		width: 200px;
		float: left;
		border: 1px solid #fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}
	img {
		display: block;
		max-width: 100%;
		height: auto !important;
	}
}
.jcarousel-control-prev {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	text-align: center;
	background: #1b1d2a;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 1px #000;
	font-size: 14px;
	line-height: 30px;
	left: 15px;
}
.jcarousel-control-next {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	text-align: center;
	background: #1b1d2a;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 1px #000;
	font-size: 14px;
	line-height: 30px;
	right: 15px;
}
.jcarousel-pagination {
	position: absolute;
	bottom: -40px;
	left: 50%;
	margin: 0;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	a {
		display: inline-block;
		height: 10px;
		width: 10px;
		margin-right: 7px;
		font-size: 11px;
		line-height: 10px;
		text-decoration: none;
		background: #fff;
		color: #4e443c;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		border-radius: 10px;
		text-indent: -9999px;
		-webkit-box-shadow: 0 0 2px #4e443c;
		-moz-box-shadow: 0 0 2px #4e443c;
		-ms-box-shadow: 0 0 2px #4e443c;
		-o-box-shadow: 0 0 2px #4e443c;
		box-shadow: 0 0 2px #4e443c;
	}
	a.active {
		background: #48cfad;
		color: #fff;
		opacity: 1;
		-webkit-box-shadow: 0 0 0 1px #48cfad;
		-moz-box-shadow: 0 0 0 1px #48cfad;
		-ms-box-shadow: 0 0 0 1px #48cfad;
		-o-box-shadow: 0 0 0 1px #48cfad;
		box-shadow: 0 0 0 1px #48cfad;
	}
}
#footer {
	width: 100%;
	padding: 60px 0 0;
	background-color: #0f101a;
	.widget {
		&:before {
			content: "";
			display: table;
			clear: both;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		margin-bottom: 20px;
		h2 {
			font-family: 'Raleway', sans-serif;
			font-size: 32px;
			line-height: 36px;
			font-weight: 800;
			color: #d9dae9;
			margin-bottom: 20px;
		}
		h3 {
			font-family: 'Raleway', sans-serif;
			font-size: 20px;
			line-height: 26px;
			font-weight: 800;
			color: #d9dae9;
			margin-bottom: 30px;
		}
		>ul {
			list-style-type: none;
			padding-left: 0;
			margin-left: 0;
			>li {
				display: block;
				padding: 2px 0;
				font-size: 14px;
				color: #898ba2;
				font-weight: 400;
				>a {
					display: block;
					padding: 2px 0;
					font-size: 14px;
					color: #898ba2;
					font-weight: 400;
					&::before {
						content: '\f10c';
						font-family: 'FontAwesome';
						font-size: 15px;
						font-weight: 400;
						padding-right: 15px;
					}
					&:hover {
						color: #37bc9b;
					}
					&:focus {
						color: #37bc9b;
					}
				}
			}
		}
		ul {
			list-style-type: none;
			padding-left: 0;
			margin-left: 0;
			>li {
				display: block;
				padding: 2px 0;
				font-size: 14px;
				color: #898ba2;
				font-weight: 400;
				>a {
					display: block;
					padding: 2px 0;
					font-size: 14px;
					color: #898ba2;
					font-weight: 400;
					&::before {
						content: '\f10c';
						font-family: 'FontAwesome';
						font-size: 15px;
						font-weight: 400;
						padding-right: 15px;
					}
					&:hover {
						color: #37bc9b;
					}
					&:focus {
						color: #37bc9b;
					}
				}
			}
		}
	}
	.widget.widget_recent_comments {
		>ul {
			>li {
				>a {
					display: inline-block;
					&:before {
						content: "";
						font-family: 'Raleway', sans-serif;
						padding-right: 0;
					}
				}
				&:before {
					content: '\f05d';
					font-family: 'FontAwesome';
					font-size: 16px;
					font-weight: 400;
					padding-right: 15px;
				}
			}
		}
		ul {
			>li {
				>a {
					display: inline-block;
					&:before {
						content: "";
						font-family: 'Raleway', sans-serif;
						padding-right: 0;
					}
				}
				&:before {
					content: '\f05d';
					font-family: 'FontAwesome';
					font-size: 16px;
					font-weight: 400;
					padding-right: 15px;
				}
			}
		}
	}
}
.copyright {
	position: relative;
	margin-top: 60px;
	padding: 60px 0 40px;
	text-align: center;
	border-top: 1px solid #2c3e50;
	.scroltop {
		position: absolute;
		left: 50%;
		top: -18px;
		margin-left: -18px;
	}
	.social-links {
		>li {
			>a {
				position: relative;
				width: 40px;
				height: 40px;
				margin-top: 25px;
				background: #6b6e80;
				display: block;
				border-radius: 100%;
				>.fa {
					position: absolute;
					left: 50%;
					top: 50%;
					width: 18px;
					height: 18px;
					margin-left: -9px;
					margin-top: -9px;
					color: #1b1d2a;
					font-size: 19px;
				}
			}
			>.icon-twitter {
				&:hover {
					background: #4099ff;
				}
			}
			>.icon-facebook {
				&:hover {
					background: #4467ad;
				}
			}
			>.icon-youtube {
				&:hover {
					background: #ff4b4b;
				}
			}
			>.icon-gplus {
				&:hover {
					background: #ff4b4b;
				}
			}
		}
	}
}
